#content
    float: left
    padding: 10px 35px 0
    width: 75%

    a
        transition: all 150ms linear
        text-decoration: none
        color: $color-secondary
        border-bottom: 1px dotted $color-secondary

        &:hover
            color: $color-primary
            border-color: $color-primary

    h2
        font-size: 30px
        color: $color-headline
        text-transform: uppercase
        font-weight: 700

    h3
        font-size: 18px
        line-height: 24px
        color: $color-headline
        text-transform: uppercase
        font-weight: 700

    h4
        font-size: 12px
        line-height: 18px
        color: $color-subtitle
        text-transform: uppercase
        font-weight: 700
        display: block
        margin-top: 5px
