#content
    float: left
    padding: 10px 35px 0
    width: 75%
    a
        transition: all 150ms linear
        text-decoration: none
        color: $color-secondary
        border-bottom: 1px dotted $color-secondary
        &:hover
            color: $color-primary
            border-color: $color-primary
