<section>

  <h2 id="about">About</h2>

    <p>SocialiteProviders is a collection of OAuth 1 & 2 packages that extend <a href="https://github.com/laravel/socialite">Laravel Socialite</a>.</p>

    <p>The <i>Observer Pattern</i> is used in the <a href="https://github.com/SocialiteProviders/Manager">Manager</a>
        package to extend <a href="https://github.com/laravel/socialite">Socialite</a>.  This allows numerous providers to be used
        in addition to the ones provided by <a href="https://github.com/laravel/socialite">Laravel Socialite</a>
        (they can be overridden easily).  Only the providers that you add to the listeners array will be used.
    </p>

    <p>Nearly all of the providers where created by <a href="https://github.com/DraperStudio">@DraperStudio</a> while the
    <a href="https://github.com/SocialiteProviders/Manager">Manager</a> for the providers was created by
        <a href="https://github.com/AndyWendt">@AndyWendt</a>. </p>
</section>
