h1, h2, h3, h4, h5, h6
    color: $color-headline
    font-family: $font-family-headline
    font-weight: bold

h1
    font-size: 68px
    line-height: 1.05

h2
    font-size: 42px
    line-height: 1.14

h3
    font-size: 26px
    line-height: 1.38

h4
    font-size: 22px
    line-height: 1.38

small
    font-size: 10px
    line-height: 1.2

p
    margin: 0 0 20px 0

em
    font-style: italic

strong
    font-weight: bold

hr
    border: 1px dashed rgba(0, 0, 0, 0.1)
    border-width: 1px 0 0
    clear: both
    margin: 10px 0 30px
    height: 0

h1
    color: $color-accent-light
    font-size: 48px
    font-weight: 200
    padding: 10px 0 0

h2
    color: $color-headline
    font-size: 30px
    font-weight: 300
    padding: 10px 0 8px
    margin-top: 0
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1)

h3
    color: $color-headline
    font-size: 24px
    font-weight: 400
    padding: 10px 0 0
    margin-top: 0

h4
    color: $color-headline
    font-size: 16px
    font-weight: 700
    padding: 0
    margin-top: 0


h3.section-title
    font-size: 18px
    line-height: 24px
    color: $color-headline
    text-transform: uppercase
    font-weight: 700

h4.section-subtitle
    font-size: 12px
    line-height: 18px
    color: $color-subtitle
    text-transform: uppercase
    font-weight: 700
    display: block
    margin-top: 5px

h3.section-subtitle
    font-size: 16px
    line-height: 18px
    color: $color-headline
    text-transform: uppercase
    font-weight: 700
    display: block
    margin-top: 5px

h2
    span
        color: $color-primary
