h1, h2, h3, h4, h5, h6
    color: $color-headline
    font-family: "Source Sans Pro", sans-serif
    font-weight: bold

h1
    font-size: 68px
    letter-spacing: -1px
    line-height: 1.05

h2
    font-size: 42px
    line-height: 1.14

h3
    font-size: 26px
    line-height: 1.38

h4
    font-size: 22px
    line-height: 1.38

small
    font-size: 10px
    line-height: 1.2

p
    margin: 0 0 20px 0

em
    font-style: italic

strong
    font-weight: bold

hr
    border: solid #ddd
    border-width: 1px 0 0
    clear: both
    margin: 10px 0 30px
    height: 0

h3
    color: $accent-light
    font-weight: 100
    letter-spacing: 0.2em
    padding: 30px 0 30px
    font-size: 32px

h2
    color: $accent-light
    font-weight: 100
    letter-spacing: 0.2em
    padding: 30px 0 30px
    text-align: center
    font-size: 60px

h1
    color: $accent-light
    font-weight: 100
    letter-spacing: 0.2em
    padding: 30px 0 30px
    text-align: center
    font-size: 72px

h4
    font-size: 18px
    font-weight: 100
