// fonts
$base-font-size: 16px
$base-font-family: "Source Sans Pro", sans-serif
$base-font-weight: 400
$base-line-height: 1.6

// text colors
$color-text: #525252
$color-headline: #ec1944
$color-accent: #ec1944
$color-accent-light: lighten($color-accent, 10%)
$color-selection: lighten($color-accent, 30%)

// backgrounds
$background-body: #fff
$background-header: #fff
$background-code: #f6f6f6

// borders
$border-color-light: #f0f2f1
$border-color-dark: #dee0df
