pre
  background: #f6f6f6
  border-radius: 3px
  margin: 10px 0 20px
  padding: 1em

h4 > code
  background: #f6f6f6
  border-radius: 3px
  margin: 10px 0 20px
  padding: .25em .5em

code, pre
  color: black
  direction: ltr
  font-family: Consolas, Monaco, 'Andale Mono', monospace
  font-size: 13px
  hyphens: none
  line-height: 1.5
  tab-size: 4
  text-align: left
  text-shadow: 0 1px white
  white-space: pre
  word-break: normal
  word-spacing: normal


.hljs
  background: #f6f6f6 !important
